body{
    background-color: white;
}

*{
    margin: 0;
    padding: 0;
}

.contenaire{
    display: flex;
    justify-content: center;
}
.contenaire .form{
    width: 20%;
    padding: 50px;
    position: absolute;
    left: 37%;
    top:20%;

}

.contenaire .form p{
    text-align: center;
    color: #000000;
    font-size: 25px;
    box-sizing: border-box;
    margin: 8px;
}
.contenaire .form .input{
    width: 80%;
    padding: 8px 20px;
    margin: 5px;
    border-radius: 6px;
    background-color: rgb(220, 220, 220);
    border: none;
}

.contenaire .form .btn{
    width: 91%;
    border: none;
    padding: 8px 20px;
    margin: 8px;
    border-radius: 8px;
    background-color: #0369dd;
    color: white;
}
.contenaire .form .cnx{
    font-size: 12px;
    text-align: left;
    text-decoration: none;
}

.contenaire .form .cnx a{
    color: #0369dd;
    
}


